#formflex
{
	width:350px;
	border:2px solid darkblue;
}
.farl
{
	display: inline-block;
	text-align: right;
	width:100px;
	margin:1%;
	box-sizing: border-box;	
}
.farl::after
{
	content:"\002A";
	color:red;
}
.f2
{
	
	width:200px;
	margin:1%;
	box-sizing: border-box;	

}
textarea
{
	display: inline-block;
	vertical-align: middle;
	width:200px;
	margin:1%;
	box-sizing: border-box;	
}
#submit
{
	margin:auto;
	display: block;
	width: 30%;
	height:2em;
}
/*:required:focus {
  box-shadow: 0  0 10px rgba(0,0,0,1); 
}*/
/*:required:invalid
{
	background-color:rgba(200, 200, 200, 1);
}
:required:valid:not(:focus)
{
	background-color:rgba(200, 200, 200, 0.1);
	background:transparent url(Ok.png)  no-repeat top right
}
*/


